<app-home-page [moviesList]="nowPlayingMoviesList | async  " 
               [upcomingList]="upcomingMoviesList | async" 
               [theaterList]="theaterList | async"
               [userPreference]="userPreference | async"
               [totalPagesForNowShowingMovies]= "totalPagesForNowShowingMovies | async"
               [totalPagesForUpcomingMovies]= "totalPagesForUpcomingMovies | async"
               (getNewNowPlayingMovies)="getNewSetofNowPlayingMovies($event)"
               (getNewUpcomingMovies)="getNewSetofComingMovies($event)">
</app-home-page>